
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
     background: url("./images/bg-intro-mobile.png") hsl(0, 100%, 74%)  ;
     display: grid;
     place-items: center;
}

.App {
   display:flex;
   width: 1200px;
   height: 900px;
   align-items: center;
}

.advice {
   color: white;
   width: 600px;
   margin-left: 10px;
}

.advice p {
   font-size: 15px;
   text-align: left
}

.title {
   line-height: 1em;
   font-size: 50px;
}

.container {
   width: 700px;
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.try {
   width: 570px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   background: hsl(248, 32%, 49%);
   border-radius: 8px;
   color: white;
   font-weight: bolder;
   border:none;
   outline: none;
   text-align: center;
   box-shadow: 5px 5px 3px hsl(0, 39%, 50%) 
}

span {
   color: hsl(247, 28%, 88%);
   margin-left: 5px
}

form {
  width: 570px;
  height: 500px;
  border-radius: 5px;
  justify-items: center;
  padding-top: 20px;
  background: rgb(252, 250, 250);
  margin-top: 15px;
  box-shadow: 5px 10px 5px hsl(0, 39%, 50%) 
}

input{
    width: 500px;
    height: 60px;
    margin: 10px 35px;
    border-radius: 5px;
    border: 1px solid rgb(216, 205, 205); 
    outline: none;
    padding-left: 30px;
}

button {
  width: 500px;
  height: 60px;
  margin: 10px 35px;
  border-radius: 5px;
  border: none;
  background: hsl(154, 59%, 51%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: white;
  font-size: 20px;
  outline: none;
  transition: width 1s height 1s
}

button:active {
    top: 5px;
    box-shadow: none;
}

.first-name {
   margin-top: 15px;
}

p {   
      width: 85%;
     text-align: end;
     font-size: 12px
}

strong {
  color: hsl(0, 100%, 74%) ;
}


/* - Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%) */


































































































































































































